language: csharp  
dist: trusty
sudo: required 

mono: none
dotnet: 1.0.0

addons:  
  apt:
    packages:
    - python3

services:
  - docker

script: 
 - ls
 - python ./Build.py --onlyBuild any
 - sudo ./Deploy.sh

os: linux