language: csharp  
dist: trusty
sudo: required 

mono: none
dotnet: 1.0.0

addons:  
  apt:
    packages:
    - python3

services:
  - docker

script: 
 - ls
 - python ./Build.py --onlyBuild any
 - docker build uksfapi -t frostebite/website-backend:dev
 - docker push frostebite/website-backend:dev

os: linux