language: csharp  
dist: trusty
sudo: required 

mono: none
dotnet: 1.0.1

addons:  
  apt:
    packages:
    - python3

services:
  - docker

script:
 - python ./Build.py --onlyBuild any
 - dotnet test ./UKSFWebsite.api.xtests/UKSFWebsite.api.xtests.csproj --framework netcoreapp1.1
 - python ./Build.py --Docker

before_deploy:
 - pip install ovh
 - pip install paramiko
 
deploy:
-   provider: script
    script: python ./Build.py --Deploy
    on:
        branch: config/deploy
-   provider: script
    script: python ./Build.py --Deploy
    on:
        branch: master

os: linux