language: csharp  
dist: trusty
sudo: required 

mono: none
dotnet: 1.0.0

addons:  
  apt:
    packages:
    - python3

services:
  - docker

script:
 - python ./Build.py --onlyBuild any
 - python ./Build.py --Docker
 
deploy:
  provider: script
  script: ./deploy.sh
  on:
    branch: config/deploy

os: linux