language: csharp  
dist: trusty
sudo: required 

mono: none
dotnet: 1.0.0

addons:  
  apt:
    packages:
    - python3

services:
  - docker

script:
 - pip install ovh
 - python ./Build.py --onlyBuild any
 - python ./Build.py --Docker
 
deploy:
  provider: script
  script: python ./Build.py --Deploy
  on:
    branch: config/deploy
  provider: script
  script: python ./Build.py --Deploy
  on:
    branch: master

os: linux