language: csharp  
dist: trusty
sudo: required 

mono: none
dotnet: 1.0.0

addons:  
  apt:
    packages:
    - python3

services:
  - docker
  
install:
 - sudo apt-get install nunit-console

script:
 - python ./Build.py --onlyBuild any
 - nunit-console ./UKSFWebsite.api.tests/UKSFWebsite.api.tests.csproj
 - python ./Build.py --Docker

before_deploy:
 - pip install ovh
 - pip install paramiko
 
deploy:
-   provider: script
    script: python ./Build.py --Deploy
    on:
        branch: config/deploy
-   provider: script
    script: python ./Build.py --Deploy
    on:
        branch: master

os: linux