language: csharp  
dist: trusty
sudo: required 

mono: none
dotnet: 1.0.0

addons:  
  apt:
    packages:
    - python3

services:
  - docker

script: 
 - python build.py --onlyBuild any
 - docker build .

os: linux