language: csharp  
dist: trusty
sudo: required 
solution: UKSFWebsite.sln
dotnet: 1.0.1

addons:  
  apt:
    packages:
    - python3

services:
  - docker

install:
  - curl -L -o nuget.exe https://dist.nuget.org/win-x86-commandline/latest/nuget.exe
  - mono nuget.exe restore UKSFWebsite.sln
script:
 - python ./Build.py --onlyBuild any
 - dotnet test ./UKSFWebsite.api.xtests/UKSFWebsite.api.xtests.csproj --framework netcoreapp1.1
 - ls
 - python ./Build.py --Docker

before_deploy:
 - pip install ovh
 - pip install paramiko
 
deploy:
-   provider: script
    script: python ./Build.py --Deploy
    on:
        branch: config/deploy
-   provider: script
    script: python ./Build.py --Deploy
    on:
        branch: master

os: linux