language: csharp  
dist: trusty
sudo: required 
solution: UKSFWebsite.sln
dotnet: 1.0.1

addons:  
  apt:
    packages:
    - python3

services:
  - docker

install:
 - curl -L -o nuget.exe https://dist.nuget.org/win-x86-commandline/latest/nuget.exe
 - mono nuget.exe restore UKSFWebsite.sln
 - dotnet restore
script:
 - dotnet publish ./UKSFWebsite.api -o ../build_output --framework netcoreapp1.1 -c Debug
 - dotnet test ./UKSFWebsite.api.xtests/UKSFWebsite.api.xtests.csproj --framework netcoreapp1.1 -c Debug
 - ls
 - python ./Build.py --Docker

before_deploy:
 - pip install ovh
 - pip install paramiko
 
deploy:
-   provider: script
    script: python ./Build.py --Deploy
    on:
        branch: config/deploy
-   provider: script
    script: python ./Build.py --Deploy StagingDbConUrl 5000
    on:
        branch: master
-   provider: script
    script: python ./Build.py --Deploy DbConUrl 5002
    on:
        branch: release

os: linux